@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}
/* header */
.logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
.logo:hover {
  color: #fff;
  text-decoration: none;
}
/* footer */
.dark-wrapper {
    background:#AFD788;
    color:white;
    font-size:20px;
    font-weight:bold;
    height:150px;
}
.dark-wrapper .ss-style-top::before {
    background-image:linear-gradient(315deg,#ed0121 50%,transparent 50%),linear-gradient(45deg,#ed0121 50%,transparent 50%);
}
.dark-wrapper .link li {
  color:white;
  list-style-type : none;
  margin-top:30px;
  text-decoration: none;
}
/* home */
.jumbotron h2 {
  color:red;
}

.jumbotron {
  height:500px;
}
