<footer id="footer" class="dark-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-sm-6">
        <br>
        &copy;<%= t("name") %>
      </div>
    </div>
  </div>
</footer>
