<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>
    /* Email styles need to be inline */
  </style>
</head>
<<<<<<< HEAD
=======

>>>>>>> 67911afd0554c1f46005b3023aaa4ccc1b0f6af4
<body>
  <%= yield %>
</body>
</html>
